<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
    

    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/registrar.css') }}">
    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">


    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


    <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category,message in messages %}
      {% if category == 'success'%}
        <div class = "alert alert-success mb-3" role="alert">{{ message }}</div>
      {%endif%}
      {% if category == 'error'%}
        <div class = "alert alert-danger mb-3" role="alert">{{ message }}</div>
      {%endif%}
      {% endfor %}
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}  
      </div>


<!-- borrar: -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="CustomStyles.css" rel="stylesheet" />


</head>
<body>

    <title>Buscar</title>
    <header>
        <nav >
            <ul class="no-lista margen-abajo">
    
    <!--             <div class="col-md-5 inline-block "><a href="index.html"><img src="logo_infree1.png" width="10px" height="50%px" align="left" padding = "0px 0px 0px 0px"></a></div> -->
                
                <li class="col-md-11 inline-block espacio-arriba espacio-izq"><h1 align="left">Buscar historia clínica paciente:</h1></li>
    
                <!-- <li class="col-md-1 inline-block pacifico margen "><a href="index.html" class="terracota">INICIO</a></li> -->
            <!-- 	<li class="col-md-1 inline-block margen"><a href="contacto.html">NOSOTROS </a></li>
                <li class="col-md-1 inline-block margen"><a href="menu.html">PORTAFOLIO</a></li>
                <li class="col-md-1 inline-block margen"><a href="menu.html">SERVICIOS</a></li>
                <li class="col-md-1 inline-block margen"><a href="menu.html">ESCRIBENOS</a></li> -->
         
    <!-- 			<li class="col-md-1 inline-block margen"><a href="menu.html">BLOG</a></li>
     -->
    
            </ul>
    
        </nav>
    </header>
    &ensp;
    <form action="/mostrarHC" method="POST">
    <div class="agregarEspacioizq espacio-arriba2">
        
        DNI:  &emsp; <input type="number" name="DNI">
        
    </div>
    &ensp;
   


  
    <a href="/mostrarHC"><button type="submit" class="btn btn-outline-primary espacio-botones espacio-arriba2" value="call_flask_funtion">Mostrar Historia Clínica</button></a>
    <button type="button" class="btn btn-outline-primary agregarEspacioizq espacio-arriba2" value="call_flask_funtion">Limpiar campo</button>
    <a href="/admin"><button type="button" class="btn btn-outline-primary espacio-botones espacio-arriba2" value="call_flask_funtion">Atras</button></a>


    </form>


    
</body>

</html>
