

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">

    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/registrar.css') }}">
    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">





<!-- borrar: -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="CustomStyles.css" rel="stylesheet" />


</head>
<body>

    <title>Buscar</title>
    <header>
        <nav >
            <ul class="no-lista margen-abajo">
    
    <!--             <div class="col-md-5 inline-block "><a href="index.html"><img src="logo_infree1.png" width="10px" height="50%px" align="left" padding = "0px 0px 0px 0px"></a></div> -->
                
                <li class="col-md-5 inline-block espacio-arriba espacio-izq"><h1 align="left">Informacion de paciente:</h1></li>
                <li class=" col-md-5 inline-block espacio-arriba quitarespacioizqbuscar"><h1 align="left">Elva Nano</h1></li>
    
    
            </ul>
    
        </nav>
    </header>
    

    &ensp;



    <div class="agregarEspacioizq espacio-arriba ">

        <p class="inline-block">Nro. documento:</p>
        <p class=" inline-block centertipo">1234567893</p>
        
    </div>

    
    <div class="agregarEspacioizq " >

      <label class="inline-block" for="start">Fecha de Nacimiento:</label>

      <p class="inline-block centerfecha"> Febrero 20 de 1998 </p>

    </div>

    <div class="agregarEspacioizq " >

      <p class="inline-block">RH:</p>
      <p class=" espaciorh inline-block  ">A+</p>

    </div>



    <div class="agregarEspacioizq " >

      <p class="inline-block">Estado Civil:</p>
      <p class=" inline-block espacio-estadocivil ">Viudo</p>

    </div>


    <div class="agregarEspacioizq " >

      <p class="inline-block">Telefono:</p>
      <p class=" espacio-telm inline-block ">3013854289</p>

    </div>


    <div class="agregarEspacioizq">
        <p class="inline-block">Departamento:</p>
        <p class=" espaciodpto inline-block">Valle del Cauca</p>
        
    </div>


    <div class="agregarEspacioizq">
        <p class="inline-block">Ciudad:</p>
        <p class=" centerciudad inline-block ">Cali</p>
        
    </div>


    <div class="agregarEspacioizq">
        <p class="inline-block">Barrio:</p>
        <p class=" centerbarrio inline-block ">Siloco</p>
        
    </div>


    <div class="agregarEspacioizq " >

      <p class="inline-block">Sexo:</p>
      <p class=" espacio-sexo inline-block  ">Transformer</p>

    </div>


    

   
    <div class="wrapper">
    	<a href="/admin.html"><button type="button" class="btn btn-outline-primary espacio-bot1 espacio-arriba2">Atras</button></a>
	</div>
  

</body>

</html>
