<!DOCTYPE html>
<html>

<head> 
   
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/registrar.css') }}">     
  <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}"> -->

  <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/registrarbanano.css') }}">     
  <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/mainbanano.css') }}">

  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <div>
  <!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category,message in messages %}
      {% if category == 'success'%}
        <div class = "alert alert-success mb-3" role="alert">{{ message }}</div>
      {%endif%}
      {% if category == 'error'%}
        <div class = "alert alert-danger mb-3" role="alert">{{ message }}</div>
      {%endif%}
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}   -->
  </div>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="CustomStyles.css" rel="stylesheet" />
</head>

<body>
  <title>CONSUTA</title>
  <header>
    <nav>
      <ul class="no-lista margen-abajo">
        <li class="col-md-4 inline-block espacio-arriba espacio-izq"><h1 align="left"><b><u>Nombre Paciente:</u></b></h1></li>  
        <li class="col-md-5 inline-block espacio-arriba quitarEspacioizq1"><h1 align="left">{{ nombrePacienteR }}</h1></li>
      
      </ul>  
      <div class="agregarEspacioizq espacio-arriba"></div>
        <a href="/mostrarHCCita/{{ idPacienteRR }}"><button type="submit" class="btn btn-outline-primary agregarEspacioizq" value="call_flask_funtion">Mostrar HC</button></a>
    </div>      
	  </nav>
  </header>
    &ensp;
  <form method="POST">
    <div class="form-group" style="width: 500px;margin-left: 50px;">

      <label>Fecha: </label required>

      <p class="inline-block espacio-texto2" ><span id="fecha"></span></p>

      <script>
      var dt = new Date();
      document.getElementById("fecha").innerHTML = dt.toLocaleDateString();
      </script>  
      <!--p class="inline-block espacio-texto2" >01/01/2020</p-->
      <!-- <input class="inline-block centerfecha" type="date" id="start" name="fecnac" value="2020-07-22" min="1900-01-01" max="2020-12-31"> -->

      <label class="agregarEspacioizq">Hora:</label required>

        <p class="inline-block espacio-texto2 espacio-abajo"><span id="hora"></span></p>

        <script>
        var dt = new Date();
        document.getElementById("hora").innerHTML = dt.toLocaleTimeString();
        </script>

    </div> 
      
      <!-- <label for="inputEmail4">Motivo:</label> 
      <input type="name" name="nombre" class="form-control inline-block"> -->

      <div class="agregarEspacioizq">
        <p class="inline-block">Motivo:</p>
        <input type="text" name="motivo" class="cl1 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <p class="inline-block">Observaciones:</p>
        <input type="text" name="observaciones" class="cl2 inline-block quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <p class="inline-block">Conciencia:</p>
        <input type="text" name="conciencia" class="cl3 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Lenguaje:</label>
        <input type="text" name="lenguaje" class="cl4 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Auditivo:</label>
        <input type="text" name="auditivo" class="cl5 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Agudeza Visual:</label>
        <input type="text" name="agudeza" class="cl6 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Peso:</label>
        <input type="text" name="peso" class="cl7 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Estatura:</label>
        <input type="text" name="estatura" class="cl8 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Presion:</label>
        <input type="text" name="presion" class="cl9 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Facie:</label>
        <input type="text" name="facie" class="cl10 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Edad:</label>
        <input type="text" name="edad" class="cl11 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Temperatura:</label>
        <input type="text" name="temperatura" class="cl12 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Alimentacion:</label>
        <input type="text" name="alimentacion" class="cl13 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Apetito:</label>
        <input type="text" name="apetito" class="cl14 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Sed:</label>
        <input type="text" name="sed" class="cl15 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Diuresis:</label>
        <input type="text" name="diuresis" class="cl16 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Catarsis intestinal:</label>
        <input type="text" name="catarsis" class="cl17 inline-block center6 quitarEspacioizq1 tamaño espacio-abajo">
      </div>
      
      <div class="agregarEspacioizq">
        <label class="inline-block">Sueno:</label>
        <input type="text" name="sueño" class="cl20 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>
      
      <div class="agregarEspacioizq">
        <label class="inline-block">Relaciones Sexuales:</label>
        <input type="text" name="Relaciones" class="cl21 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Alcohol:</label>
        <input type="text" name="alcohol" class="cl22 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Tabaco:</label>
        <input type="text" name="Tabaco" class="cl23 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Drogas:</label>
        <input type="text" name="drogas" class="cl24 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Medicacion:</label>
        <input type="text" name="medicacion" class="cl25 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Resultados:</label>
        <input type="text" name="resultados" class="cl26 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Anexos:</label>
        <input type="text" name="anexos" class="cl27 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Lactancia:</label>
        <input type="text" name="lactancia" class="cl28 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Iniciacion Sexual:</label>
        <input type="text" name="iniciacion" class="cl29 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Gineco obstetria:</label>
        <input type="text" name="gineco" class="cl30 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Menarca:</label>
        <input type="text" name="menarca" class="cl31 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Embarazos:</label>
        <input type="text" name="Embarazos" class="cl32   inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Partos:</label>
        <input type="text" name="partos" class="cl33 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Abortos:</label>
        <input type="text" name="abortos" class="cl34 sinline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <!--div class="agregarEspacioizq">
        <label class="inline-block">Medicamentos:</label>
        <input type="text" name="medicamentos" class="cl35 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div-->

      <div class="agregarEspacioizq">
        <label class="inline-block">Gramaje:</label>
        <input type="text" name="gramaje" class="cl36 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Resumen:</label>
        <input type="text" name="resumen" class="cl37 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <div class="agregarEspacioizq">
        <label class="inline-block">Diagnostico:</label>
        <input type="text" name="diagnostico" class="cl38 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>

      <!-- <select name="sex" class="form-control">
        <option value="Masculino">Masculino</option> 
        <option value="Femenino">Femenino</option> 
        <option value="Transformer">Transformer</option> 
      </select> -->
      
      <!-- <label for="exampleFormControlSelect1">Fecha de Nacimiento</label required>
      <input class="inline-block centerfecha" type="date" id="start" name="fecnac" value="2020-07-22" min="1900-01-01" max="2020-12-31"> -->

      <p class="agregarEspacioizq" for="exampleFormControlSelect1">Medicamentos: </p required>
        
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox1" name="cbox1" value="Acetaminofen">    ACETAMINOFEN</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox2" name="cbox2" value="Loratadina">    LORATADINA</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox3" name="cbox3" value="Allegra">    ALLEGRA</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox4" name="cbox4" value="Colaxin">    COLAXIN</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox5" name="cbox5" value="Insulina">    INSULINA  </label><br>

      <div class="agregarEspacioizq">
        <label class="inline-block">Inidicaciones de los medicamentos:</label>
        <input type="text" name="InidicacionesMedicamentos" class="cl38 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
      </div>
      <!--p class="agregarEspacioizq" for="exampleFormControlSelect1">Inidicación de los medicamentos: </p required-->
        <!-- <input type="checkbox" id="cbox2" value="second_checkbox"> <p for="cbox2">M2</p>
        <input type="checkbox" id="cbox3" value="second_checkbox"> <p for="cbox2">M3</p>
        <input type="checkbox" id="cbox4" value="second_checkbox"> <p for="cbox2">M4</p>
        <input type="checkbox" id="cbox5" value="second_checkbox"> <p for="cbox2">M5</p> -->

        <div class="agregarEspacioizq">
          <label class="inline-block">Incapacidad:</label>
          <input type="text" name="incapacidad" class="cl39 inline-block center6 quitarEspacioizq tamaño espacio-abajo">
        </div>

      <p class="agregarEspacioizq" for="exampleFormControlSelect1" class="espacio-arriba">Remision:</p required>
        
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox6" name="cbox6" value="Oncologo">    Oncologo</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox7" name="cbox7" value="Gastroenterologo">    Gatroenterlologo</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox8" name="cbox8" value="Cardiologo">    Cardiologo</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox9" name="cbox9" value="Pediatra">    Pediatra</label><br>
        <p class="agregarEspacioizq"><input type="checkbox" id="cbox10" name="cbox10" value="Odontologo">    Odontologo</p><br>

        <p class="agregarEspacioizq" for="exampleFormControlSelect1" class="espacio-arriba">Examenes:</p required>
        <label class="agregarEspacioizq" ><input type="checkbox" id="cbox11" name="cbox11" value="Hemograma">    Hemograma</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox12" name="cbox12" value="Uroanalisis">    Uroanalisis</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox13" name="cbox13" value="Coprologico">    Coprologico</label><br>
        <label class="agregarEspacioizq"><input type="checkbox" id="cbox14" name="cbox14" value="Tiroides">    Tiroides</label><br>
        <p class="agregarEspacioizq"><input type="checkbox" id="cbox15" name="cbox15" value="Perfil_Renal">    Perfil Renal</p><br>

          <p class="agregarEspacioizq" for="exampleFormControlSelect1" class="espacio-arriba">Tratamiento:</p required>
            <label class="agregarEspacioizq"><input type="checkbox" id="cbox16" name="cbox16" value="Dieta">    Dieta</label><br>
            <label class="agregarEspacioizq"><input type="checkbox" id="cbox17" name="cbox17" value="Ejercicio">    Ejercicio</label><br>
            <label class="agregarEspacioizq"><input type="checkbox" id="cbox18" name="cbox18" value="Hidroterapia">    Hidroterapia</label><br>
            <label class="agregarEspacioizq"><input type="checkbox" id="cbox19" name="cbox19" value="Fisioterapia">    Fisioterapia</label><br>
            <p class="agregarEspacioizq"><input type="checkbox" id="cbox20" name="cbox20" value="Radioterapia">    Radioterapia</p><br>

    <div class="agregarEspacioizq "></div>
        <a href="/doctor"><button type="button" class="btn btn-outline-primary agregarEspacioizq espacio-abajo tamaño1" value="call_flask_funtion">Atras</button></a>
        <a href="/doctor"><button type="submit" class="btn btn-outline-primary espacio-izq espacio-abajo tamaño1" value="call_flask_funtion">Guardar Cita</button></a>
    </div>
  </div>
    &ensp;
  </form>
</body>
</html>