{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.nombres) }}
    {{ render_field(form.apellidos) }}
    {{ render_field(form.tipoDoc) }}
    {{ render_field(form.numDoc) }}
    {{ render_field(form.especialidad) }}
    {{ render_field(form.telefono) }}
    {{ render_field(form.fechaNacimiento) }}
    {{ render_field(form.genero) }}
    {{ render_field(form.correo) }}
    {{ render_field(form.contrasena) }}
    {{ render_field(form.confirmarContrasena) }}

  </dl>
  <p><input type=submit value=Register>
</form>