<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="registrar.css">
    <link rel="stylesheet" href="tabla.js">


    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">





<!-- borrar: -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="CustomStyles.css" rel="stylesheet" />


</head>
<body>

    <title>Solicitudes</title>
    <header>
        <nav >
            <ul class="no-lista margen-abajo ">
    
    <!--             <div class="col-md-5 inline-block "><a href="index.html"><img src="logo_infree1.png" width="10px" height="50%px" align="left" padding = "0px 0px 0px 0px"></a></div> -->
                
                <li class="col-md-11 inline-block espacio-arriba espacio-izq"><h1 align="center">Solicitudes de pacientes:</h1></li>
    
                <!-- <li class="col-md-1 inline-block pacifico margen "><a href="index.html" class="terracota">INICIO</a></li> -->
            <!-- 	<li class="col-md-1 inline-block margen"><a href="contacto.html">NOSOTROS </a></li>
                <li class="col-md-1 inline-block margen"><a href="menu.html">PORTAFOLIO</a></li>
                <li class="col-md-1 inline-block margen"><a href="menu.html">SERVICIOS</a></li>
                <li class="col-md-1 inline-block margen"><a href="menu.html">ESCRIBENOS</a></li> -->
         
    <!-- 			<li class="col-md-1 inline-block margen"><a href="menu.html">BLOG</a></li>
     -->
    
            </ul>
    
        </nav>
    </header>
    &ensp;
    

    <div id="page-wrap" class="container">
        <input type="search" class="light-table-filter" data-table="members_details" placeholder="Filtrar">
        <table class="members_details">
            <thead>
                <tr>
                    <th class="members_id text_align_center"><b>CC Paciente</b></th>
                    <th class="members_name text_align_center"><b>Nombre Paciente</b></th>
                    <th class="members_position text_align_center"><b>Solicitud</b></th>
                    <th class="members_blood_group text_align_center"><b>Médico Solicitante</b></th>
                    <th class="members_address text_align_center"><b>Estado</b></th> 
                    <th class="members_address text_align_center"><b>Justificación</b></th>       
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="members_id text_align_center">M101</td>
                <td class="members_name">SM Mehdi Akram
                </td><td class="members_position">CEO, Royal Technologies</td>
                <td class="members_blood_group text_align_center">AB+</td>
                <td >
                    
                    <select name="OS" >
                            <option value="1">Creada</option> 
                            <option value="2">Aceptar</option> 
                            <option value="3">Rechazar</option>
                    </select>

                </td>


                <td>
                    <input type="text" name="justificacion">
                </td>
            </tr>
            
            <tr>
                <td class="members_id text_align_center">M102</td>
                <td class="members_name">Md. Mahmudul Hasan
                </td><td class="members_position">Head of Procurement &amp; Commercial Navana Furniture Ltd.</td>
                <td class="members_blood_group text_align_center">B+</td>
                <td >
                    <select name="OS" >
                            <option value="1">Creada</option> 
                            <option value="2">Aceptar</option> 
                            <option value="3">Rechazar</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="justificacion">
                </td>
            </tr>
        
            <tr>

                <td class="members_id text_align_center">M103</td>
                <td class="members_name">Rabindra Nath Das
                </td><td class="members_position">Manager-Project, Corporate IT,Navana Group</td>
                <td class="members_blood_group text_align_center">N/A</td>
                <td >
                    <select name="OS" >
                            <option value="1">Creada</option> 
                            <option value="2">Aceptar</option> 
                            <option value="3">Rechazar</option>
                    </select>
                </td>
                <td>
                    <input type="text" name="justificacion">
                </td>
            </tr>

            <tr>

                <td class="members_id text_align_center">M103</td>
                <td class="members_name">Rabindra Nath Das
                </td><td class="members_position">Manager-Project, Corporate IT,Navana Group</td>
                <td class="members_blood_group text_align_center">N/A</td>
                
                <td >
                    <select name="OS" >
                            <option value="1">Creada</option> 
                            <option value="2">Aceptar</option> 
                            <option value="3">Rechazar</option>
                    </select>
                    <!-- <div class="form-check" align="center">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    </div> -->
                </td>
                <td>
                    <input type="text" name="justificacion">
                </td>
            </tr>


        
                </tbody>
        </table>
    
    </div>  

    <button type="button" class="btn btn-outline-primary espacio-bot1-tabla espacio-arriba2">Atras</button>
    <button type="button" class="btn btn-outline-primary espacio-botones espacio-arriba2">Guardar</button>
    <button type="button" class="btn btn-outline-primary espacio-botones espacio-arriba2">Actualizar</button>
    





    <script src='tabla.js'></script>
</body>

</html>
