<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">

    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/registrar.css') }}">
    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <link rel="stylesheet" href="tabla.js">
    <script type="text/javascript" src="{{ url_for('static', filename = 'styles/tabla.js') }}"></script>



    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category,message in messages %}
            {% if category == 'success'%}
              <div class = "alert alert-success mb-3" role="alert">{{ message }}</div>
            {%endif%}
            {% if category == 'error'%}
              <div class = "alert alert-danger mb-3" role="alert">{{ message }}</div>
            {%endif%}
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}          
    </div>



<!-- borrar: -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="CustomStyles.css" rel="stylesheet" />


</head>
<body>

    <title>Solicitudes</title>
    <header>
        <nav >
            <ul class="no-lista margen-abajo ">
    
    <!--             <div class="col-md-5 inline-block "><a href="index.html"><img src="logo_infree1.png" width="10px" height="50%px" align="left" padding = "0px 0px 0px 0px"></a></div> -->
                
                <li class="col-md-11 inline-block espacio-arriba espacio-izq"><h1 align="center">Solicitudes de pacientes:</h1></li>
    
                <!-- <li class="col-md-1 inline-block pacifico margen "><a href="index.html" class="terracota">INICIO</a></li> -->
            <!-- 	<li class="col-md-1 inline-block margen"><a href="contacto.html">NOSOTROS </a></li>
                <li class="col-md-1 inline-block margen"><a href="menu.html">PORTAFOLIO</a></li>
                <li class="col-md-1 inline-block margen"><a href="menu.html">SERVICIOS</a></li>
                <li class="col-md-1 inline-block margen"><a href="menu.html">ESCRIBENOS</a></li> -->
         
    <!-- 			<li class="col-md-1 inline-block margen"><a href="menu.html">BLOG</a></li>
     -->
    
            </ul>
    
        </nav>
    </header>
    &ensp;
    
    <form method="POST">

    <div id="page-wrap" class="container">
        <input type="search" class="light-table-filter" data-table="members_details" placeholder="Filtrar">
        <table class="members_details">
            <thead>
                <tr>
                    <th class="members_id text_align_center"><b>ID Solicitud</b></th>
                    <th class="members_name text_align_center"><b>Solicitud</b></th>
                    <th class="members_position text_align_center"><b>Estado Actual</b></th>
                    <th class="members_address text_align_center"><b>Nuevo Estado</b></th>
                    <th class="members_blood_group text_align_center"><b>Detalles</b></th>
                    <th class="members_address text_align_center"><b>ID Paciente</b></th> 
                    <th class="members_address text_align_center"><b>ID Doctor</b></th>
                    
                    <th class="members_address text_align_center"><b>Justificación</b></th>       
                </tr>
            </thead>
            <tbody>
            <tr>
                {% for row in solicitudes %}
                    <tr>
                      <td>{{ row[0] }}</td>
                      <td>{{ row[1] }}</td>
                      <td>{{ row[2] }}</td>
                      <td >
                        <select name="OS" >
                            <option value="1">Pendiente</option> 
                            <option value="2">Aprobado</option> 
                            <option value="3">Rechazado</option>
                        </select>
                      </td>
                      <td>{{ row[3] }}</td>
                      <td>{{ row[4] }}</td>
                      <td>{{ row[5] }}</td>
                      <td>
                            <input type="text" name="justificacion">
                      </td>

                    </tr>
                {% endfor %}

            </tr>
            </tbody>
        </table>
    
    </div>  

    <a href="/admin"><button type="button" class="btn btn-outline-primary espacio-bot1-tabla espacio-arriba2">Atras</button></a>
    <button type="submit" class="btn btn-outline-primary espacio-botones espacio-arriba2">Guardar</button>
    <button href="/ActualizarSolicitud" type="submit" class="btn btn-outline-primary espacio-botones espacio-arriba2">Actualizar</button>

</form>
    
    <script type="text/javascript"
         src="{{ url_for('static', filename='tabla.js') }}"></script>
</body>

</html>
