.light-table-filter {margin-bottom: 5px;}
table.members_details { width: 100%;  border-collapse: collapse;  }
.members_details tr:nth-of-type(odd) { background: #eee; }
.members_details th { background: lightblue; color: white; font-weight: bold; }
.members_details td, .members_details th {padding: 6px; border: 1px solid #ccc;text-align: left;} 


body{
	font-family: 'Lato', sans-serif;
}
img {
	display: block;
	max-width: 100%;
}

#img{
  margin-top: 50px;
  padding: 0px 0px 10px 0px;
}

#imgFooter{
  margin-top: 50px;
}

#iconoFooter{
  width: 25px;
  height: 25px;
  float: left;
}

#iconoFooter2{
  width: 25px;
  height: 25px;
  float: none;
/*  margin-right: 345px;
*/display: inline-block;
}

#iconoFooter3{
  width: 25px;
  height: 25px;
  float: none;
/*  margin-right: 300px;
*/display: inline-block;
}



div{
	background: white;
	width: auto;
	height: auto;
	padding: 0px 0px 0px 0px;
	margin: auto;
}

#divfooter{
  width: 35%;
  height: 25%;

}


.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 30px;
}

.espacio-arriba2{
  margin-top: 90px;
}

.quitarEspacioArriba{
  margin-top: -45px;
}
.espacio-abajo{
	margin-bottom: 50px;
}
.espacio-abajo2{
	margin-bottom: 100px;
}
.quitarEspacioAbajo{
  margin-bottom: -35px;
}

.quitarEspacioizq{
  margin-left: 0px;
}

.quitarespacioizqbuscar{
  margin-left: -120px;
}

.wrapper {
    text-align: center;
}

.espacio-bot1-tabla{
  margin-left: 430px;
}
.espacio-botones{
  margin-left: 80px;
}
.espacio-texto{
  margin-left:100px;
}
.espacio-texto2{
  margin-left:60px;
}
.espacio-texto3{
  margin-left: 120px;
}
.agregarEspacioizq{
  margin-left: 50px;
}
.espacioi2{
  margin-left: 40px;
}
.espacio-izq{
  margin-left: 30px;
}
.espacioi{
  margin-left: 20px;
}
.pacifico{
    /*font-family: 'Pacifico', cursive;*/
	font-family: 'Lato', sans-serif;
}
.se-gris{
	background-color: #222;
}
.mediano{
	font-size: 1.5em;
}
.vete-arriba{
	vertical-align: top;
}
.padding-largo{
	padding: 0px 0px;
}
.grande{
	font-size: 4em;
}
.terracota{
	color: #EEE
}
.retraso-1{
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
    animation-delay: 1s;
}
.retraso-2{
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
    animation-delay: 2s;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;

}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.espacio-derecha{
	margin-right: 1em;
}
a,.beige{
	color: #EEE
}
.margen-abajo{
  border-bottom: solid #00a3e0;
}

.margen{

	  border-left:  solid #878787;
    border-right: solid #878787;
    border-bottom-width: 0px;
    background-color: #222;
    border-width: 1px;
    padding:30px 30px 30px 30px;
    width: 135.5px;
    max-width: 100%;
    height: 80px;
    text-align: center;
}

.margen:hover{
  background-color: #539ABD;

}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

#fixa{
  position: relative;
  bottom: 400px;
  display: flex;
}

div#body{
/*  position: static;
  background-image: url("brochure2.png");
  background-attachment: fixed;
  background-position: center; 
  width: 1349.4px;
  height: 800px;
*/
}

div#cont{

/*  position: relative;
  bottom: 400px;
  display: block; 
*/

/*  width: 1349px;
  height: auto;
  background-image: url("brochure2.png");
  background-attachment: fixed;
  background-position: center;
*/


  width: 500px;
  border: 2px solid blue;
  margin: 0 auto;
  text-align: center;
}

div#row1{
/*  width: 1349px;
  height: auto;
  background-image: url("brochure2.png");
  background-attachment: fixed;
  background-position: center;
*/
}
div#carruselAdentro{

}

li#foot{

}

#banner{
  width: auto;
  height: auto;
  position: absolute;
  z-index: -1;
/*  position: relative;
*/}

#boxwrapper{
  width: 1400px;
  height: 400px;
  background-image: url("brochure2.png");
}
.parent-div{
  width: 960px;
  border: 2px solid red;
  margin: 0 auto;
  text-align: center;
}

.container{
  width: 70%;
}

.box{
  width: 70%;
  
 /* width: auto;
  height: auto;
  box-shadow: 0px 0px 10px 2px gray;
  border: 0px solid red;
  background-image: url("brochure2.png");
  background-position: center;
  background-size: cover;
  text-align: center;*/
  z-index: 1;

}

#move{
  position: relative;
  bottom: 200px;
  display: block; 
  z-index: 8;
  max-width: 100%;
  max-height: 100%;


}

#tamanio{
  background-size: 1600px 800px;
/*  width: auto;
  height: auto;
  padding: 0px 0px 0px 0px;
  margin: auto;*/

}

footer{
  width: 100%;
  background-color: #222;
  border-left: solid #222;
 /* padding: 60px 0px;*/
}

.container-footer-all{
  width: 100%;
/*  max-width: 1200px;
*/  margin: auto;
}


.container-body{
  display: flex;
}

/*footer nav{
  float: right;
}

footer nav ul{
  margin-top:73px; 
}

footer nav ul li{
  display: inline-block;
  margin-left:20px; 
  list-style: none;
}

footer nav ul li a{
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
}*/

/*
.active {
    background-color: #0080EF;
    color: white;
}*/

/*header{
  width: 100%;
  height: 140px;
  background-color: #3D3D3D;

}

header img{
  margin-top: 30px;
}
*/


* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 16.66%;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
/*    text-align: center;
*/}

.columnf{
  float: left;
  width: 33.36%;
  padding: 0px;
  height: 200px;
}

.columnf2{
  float: left;
  width: 100%;
  padding: 0px;
  height: 200px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*.inline-block {
   display: inline-block;
   width: 
}
*/

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


