

.center {
	position: relative;
	left: 150px;
}

.center2 {
	position: relative;
	left: 143px;
}

.center3 {
	position: relative;
	left: 119px;
}

.center4 {
	position: relative;
	left: 126px;
}

.center5 {
	position: relative;
	left: 133px;
}

.centertipo{
	position: relative;
	left: 138px;
}

.centercorreo{
	position: relative;
	left: 202px;
}

.centerfecha{
	position: relative;
	left: 101px;
}

.centerciudad{
	position: relative;
	left: 203px;
}
.centerbarrio{
	position: relative;
	left: 209px;
}
.center6 {
	position: relative;
	left: 194px;
}

.center7 {
	position: relative;
	left: 194px;
}

.center8 {
	position: relative;
	left: 204px;
}

.center9 {
	position: relative;
	left: 208px;
}

.center10 {
	position: relative;
	left: 187px;
}

.center11 {
	position: relative;
	left: 81px;
}

.center12 {
	position: relative;
	left: 150px;
}

.center13 {
	position: relative;
	left: 72px;
}

.espacio-token{
  margin-left: 130px;
}
.espacio-sexo{
  margin-left: 220px;
}
.espacio-telm{
	position: relative;
	left:192px;
}
.espacio-estadocivil{
  margin-left: 88px;
}

.espaciodpto{
	position: relative;
	left: 150px;
}